pkgbase = packettracer
	pkgdesc = A cross-platform visual simulation tool designed by Cisco Systems that allows users to create network topologies and imitate modern computer networks.
	pkgver = 8.2.2
	pkgrel = 1
	url = https://www.netacad.com/resources/lab-downloads
	install = packettracer.install
	arch = x86_64
	license = custom:LicenseRef-Cisco-EULA
	makedepends = binutils
	makedepends = tar
	depends = qt5-base
	depends = qt5-multimedia
	depends = qt5-script
	depends = qt5-svg
	depends = qt5-webengine
	depends = qt5-websockets
	depends = qt5-x11extras
	depends = nss
	depends = libx11
	depends = libxext
	depends = libxss
	depends = libxtst
	depends = glibc
	options = !strip
	options = !emptydirs
	source = local://CiscoPacketTracer_8.2.2_Ubuntu_64bit.deb
	source = packettracer.sh
	source = packettracer.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = packettracer
